body{
background: scroll;
background-color: whitesmoke
}
*{
    margin: 100;
    padding: 10px;
    box-sizing: border-box;
}

.registro {
    width: 550px;
    background-color:rgba(70, 142, 170, 0.651);
    padding: 10px;
    margin: 1100px;
    margin-top: 1px;
    border-radius: 18px;
    font-family: 'calibri';
    color: white;
}

.registro h4 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 100000;
    text-align: center;

}

.campos {

    width: 100%;
    background-color: antiquewhite;
    padding: auto;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-size: 14px;

}

.registro button {
    padding: 0.85em 1.5em;
    font-size: 1 em;
    color: black;
    background-color: wheat;
    border: none;
    background-color: wheat;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.registro a {

    color: aliceblue;
    text-align: center;

}


.cuenta {

    text-align: center;

}
h1{
font-family: 'Arial';
    font-size: 15px;
padding: 100px;
}

label{

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

p{

text-align: center;

}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}