* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #4EB9EF;
}

.registro {
    width: 400px;
    background-color: #EBFEFF;
    padding: 1px;
    margin: auto;
    margin-top: 100px;
    border-radius: 1px;
    font-family: 'calibri';

    color: white;
}

.registro h4 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 100000;
    text-align: center;

}

.campos {

    width: 100%;
    background-color: antiquewhite;
    padding: auto;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-size: 14px;

}

.registro button {
    padding: 0.85em 1.5em;
    font-size: 1 em;
    color: black;
    background-color: wheat;
    border: none;
    background-color: wheat;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.registro a {

    color: aliceblue;
    text-align: center;

}


.cuenta {

    text-align: center;

}
h1{
font-family: 'Arial';
    font-size: 15px;
padding: 100px;
}